*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board{
  width: 28.4rem;
  height: 28.35rem;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.cell{
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-operating {
  animation-name: visitedAnimation;
  animation-duration: 1ms;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.colBoundary{
  border-left: 3px solid black;
}

.rowBoundary{
  border-bottom: 3px solid black;
}

.cell__occupied{
  background: lightgray !important;
}

.btn__solve{
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: .5rem 2rem;
  background: #008CBA;
  color: #ffffff;
  border-radius: 10rem;
}